<root> 
    <FileGroup Name="jsBundle.js"> 
        <File Path="jquery-1.8.0.min.js" Minify="false" /> 
        <File Path="jquery-ui-latest.min.js" Minify="false" /> 
		<File Path="jquery.validate.min.js" Minify="false" /> 
		<File Path="jquery.validate.unobtrusive.min.js" Minify="false" /> 
		<File Path="easySlider1.7.js" />
		<File Path="Common.min.js" Minify="false" /> 
    </FileGroup> 
</root> 