.cupRounds {
  list-style: none; }

.roundHeader {
  text-align: center;
  padding: 10px 3px 10px 3px;
  min-width: 120px;
  margin-bottom: 10px;
  font-style: italic; }

.roundFixtures {
  list-style: none;
  width: 150px;
  padding-left: 0; }

.roundFixtures li {
  margin-bottom: 20px; }

.teamTop {
  border-bottom: 1px solid #999999;
  padding-left: 5px;
  height: 19px; }

.teamBottom {
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  padding-left: 5px;
  height: 19px; }

.padder {
  border-right: 1px solid #999999; }

.cupFixtureWinner {
  font-weight: bold; }

