@model Basketball.Domain.Entities.Cup

@{
    ViewBag.Title = "Create Cup";
}

<h1>Create Cup</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
	@Html.Partial("_CreateOrEdit", Model)

    <p>
        <input type="submit" value="Create" />
    </p>
}

<p>
    @Html.ActionLink("Back to list", "Index")
</p>


