@model object

@{
    ViewBag.Title = "Page Not Found";
}

<h1>Page Not Found</h1>

<p>The page you were looking for does not exist. Here are scenarios for why this may happen:</p>
<ul>
    <li>The page has been abducted by aliens</li>
    <li>The page has been swallowed by a whale</li>
    <li>The page has spontaneously combusted</li>
    <li>The page is out for lunch</li>
    <li>You typed in the url incorrectly or have saved a link to an old page which no longer exists</li>
</ul>