@model object

@{
    ViewBag.Title = "Something has gone wrong";
}

<h1>Something Has Gone Wrong</h1>

<p>
    Something has gone a little wrong. The best case scenario is that the error has been logged and and the bug will be fixed fairly soon. If you're a negative
    person you may imagine that the error logging died and all information regarding the problem you have experienced will be lost making it almost impossible
    to determine the nature of the problem and therefore apply a fix. 
</p>