<root> 
    <FileGroup Name="hamcrest_and_jsmockito.js"> 
        <File Path="jshamcrest.js" Minify="false" />
        <File Path="integration.js" Minify="false" />
        <File Path="core.js" Minify="false" />
        <File Path="collection.js" Minify="false" />
        <File Path="number.js" Minify="false" />
        <File Path="object.js" Minify="false" />
        <File Path="operator.js" Minify="false" />
        <File Path="text.js" Minify="false" />
        <File Path="jsmockito-1.0.4.js" Minify="false" />
    </FileGroup> 
</root> 