@using Basketball.Web.Areas.Admin.ViewModels
@model PenaltyViewModel

@{
    ViewBag.Title = "Create Penalty";
}

<h1>Create Penalty</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
	@Html.Partial("_CreateOrEdit", Model)

    <p>
        <input type="submit" value="Create" />
    </p>

}

<p>
    @Html.ActionLink("Back to list", "Index")
</p>


