@{
    ViewBag.Title = "Links";
}

@section meta {
    <meta name="description" content="Basketball in the north east" />
    <meta name="keywords" content="links" />
}

<h1>Links</h1>
<ul>
    <li><a href="http://www.englandbasketball.co.uk">England Basketball</a></li>
    <li><a href="http://www.northeastbasketball.net/">Tynemet League</a><br /></li>
    <li><a href="http://www.leaguewebsite.co.uk/durhambasketball">Durham Basketball League</a></li>
</ul>

