@model Basketball.Web.ViewModels.ContactUsViewModel

@{
    ViewBag.Title = "Message Sent";
}

@section meta {
    
}

<h1>Contact Us</h1>

<p>Your feedback has been sent</p>

<br />
<br />

@Html.ActionLink("Go to home page", "Index", "Home")