@model Basketball.Domain.Entities.Event

@{
    ViewBag.Title = "Create Event";
}

<h1>Create Event</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
	@Html.Partial("_CreateOrEdit", Model)

    <p>
        <input type="submit" value="Create" />
    </p>

}

<p>
    @Html.ActionLink("Back to list", "Index")
</p>


