<root> 
    <FileGroup Name="cssBundle.css"> 
        <File Path="Blueprint/screen.css" /> 
        <File Path="Style.min.css" Minify="false" /> 
		<File Path="Slider.min.css" Minify="false" />
        <File Path="ViewCup.css" Minify="true" />
        <File Path="../themes/smoothness/jquery-ui-latest.custom.css" /> 
    </FileGroup> 
</root> 