<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
    <connectionStrings>
        <add name="Basketball" connectionString="Server=xdbs2.dailyrazor.com;Database=philhale_basketballdb;User ID=philhale_admin;Password=Acc0rd" providerName="System.Data.SqlClient"  xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </connectionStrings>

    <appSettings>
        <add key="EmailFrom" value="do-not-reply@teessidebasketball.co.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="EmailTestMode" value="false"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="EmailTestAddress" value="philjhale@gmail.com"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    </appSettings>

    <system.net>
        <mailSettings>
            <smtp>
                <network xdt:Transform="RemoveAll" />
                <network host="localhost" xdt:Transform="Insert" />
            </smtp>
        </mailSettings>
    </system.net>
    
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	<caching>
		<outputCacheSettings>
			<outputCacheProfiles>
                <!-- One hour. Unfortunately caching knacks mobile redirect so is off for now -->
				<add name="Public" duration="0" location="ServerAndClient"  xdt:Transform="Replace" xdt:Locator="Match(name)" />
			</outputCacheProfiles>
		</outputCacheSettings>
	</caching>
  </system.web>
</configuration>