@using Basketball.Web.Areas.Admin.ViewModels
@model TeamLeagueViewModel

@{
    ViewBag.Title = "Add Team To League";
}

<h1>Add Team To League</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
	@Html.Partial("_CreateOrEdit", Model)

    <p>
        <input type="submit" value="Create" />
    </p>

}

<p>
    @Html.ActionLink("Back to list", "Index")
</p>


