@using Basketball.Web.ViewModels
@model ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}


@section meta {
    <meta name="description" content="Password reset page" />
    <meta name="keywords" content="password reset" />
}
    
<h1>Reset Password</h1>

 @using (Html.BeginForm())
 {
     @Html.AntiForgeryToken()

     <p>
	     @Html.LabelFor(model => model.Username)
         @Html.TextBoxFor(model => model.Username)
         @Html.ValidationMessageFor(model => model.Username)
    </p>
     
    <input type="submit" value="Reset Password" />
 }



