@using Basketball.Domain.Entities
@model List<LeagueWinner>
           
@if (Model.Count == 0)
{
    @: None
} else
{
    <ul>
        @foreach (var lw in Model)
        {
            <li>@Html.ActionLink(@lw.League.Season + " " + @lw.League, "StandingsGet", "Stats", new { filterBySeasonId = lw.League.Season.Id }, new { title = string.Format("View {0} league standings", lw.League.Season) }) </li>
        }
    </ul>
}
