<p>
	Please do NOT create duplicate players. As you enter the player's surname matching names will be displayed in a list on the right.
    If a player already exists with the same name please double check whether a new player is required, or if the player should simply be moved to a different team.
</p>